/*--------------Carousel -------------------------------------------*/
.carousel {
    height: 420px;
}

ul.slides {
    background-color: #D6D6D6; 
}

ul.slides li {
    display:none;
    list-style-type: none;
    position: absolute;
}


.slide {
    width: 666px;
    height: 331px;
    overflow: hidden;
    position: relative;
}
ul.slides  li.active-slide {
    display:block;
}

/* ----------- carousel navigation ----------------*/
.carousel-nav {
    margin-top:11px
}

ul.carousel-nav {
    width: 666px;
    position: absolute;
    top: 350px;
}

ul.carousel-nav li {
    float:left;
    display:block;
    margin-right:10px;
    list-style-type: none;
    
}
ul.carousel-nav li:last-child {
    margin-right:0;
}

li.last-slide-control {
    margin-right:0px !important;
}

ul.carousel-nav li a, .carousel-nav ul li a img {
    display: block;
}

ul.carousel-nav li a {
}
ul.carousel-nav a.active-control img {
    position: absolute;
    display: block;
}
ul.carousel-nav a.active-control .carousel-thumb-frame {
    background-image: url('../assets/ui/active-slide-link-frame.png');
    width:159px;
    height:88px;
    float:left;
    position: relative;
    z-index: 10;
    top:-9px;
}
