.clear {
    clear:both;
}

.row {
    width:100%;
}

.row:after {
    
}

.column-1, .column-2, .column-3,
.column-4, .column-5, .column-6,
.column-7, .column-8, .column-9,
.column-10 {
    float:left;
    margin:20px;
    margin-bottom:0px;
    margin-right:0px;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

.column-7.master {
    margin:0px !important;
    width:686px !important;
}

.column-2 {
    width: 176px;
}

.column-3 {
    width:274px
}

.column-5 {
    width:470px;
}

.column-7 {
    width:666px;
}

