.navbar ul li {
    /* ie does not like the percentages */
    width:16.6% !important;
}

.navbar ul li.active a {
    height:40px;
    line-height: 38px;
}

.navbar ul li.active a:hover {
    background-color: #ffffff !important;
    height:40px;
}

ul.carousel-nav a.active-control img {
    position: absolute;
}

ul.carousel-nav a.active-control {
    width:159px;
    position: relative;
}
ul.carousel-nav a.active-control .carousel-thumb-frame {
    position: absolute;
}

.overhang-shadow {
    margin-top:16px;
}

.category-icon,  .video-icon{  
    margin-top:-10px;
}

.navbar ul li a:hover {
    background-color: #CCCED1 !important;
    display: block !important;
    height:40px !important;
    color:#282b2e !important;
}

.navbar ul li.active a:hover {
    background-color: #ffffff !important;
}

