ul.carousel-nav a.active-control img {
    position: relative;
}

ul.carousel-nav a.active-control {
    width:159px;
    position: relative;
}
ul.carousel-nav a.active-control .carousel-thumb-frame {
    position: absolute;
}

.navbar ul li a:hover {
    background-color: #CCCED1 !important;
    display: block !important;
    height:38px !important;
}

.navbar ul li.active a:hover {
    background-color: #ffffff !important;
}
