body {
    background: url('../img/backgrounds/cityscape-reduced.jpg');
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position:top center;
    color:#282b2e;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica";
    font-size:16px;
    height:100%;
    background-color: #071E3B;
}


.page {
    background-color: #ffffff;
    height: 100%;
    margin:0 auto;
    top:170px;
    max-width: 1000px;
    width:1000px;
    min-height:300px;
    position: relative;
    z-index: 2;
    padding-bottom:88px;
    height:100%;
}

.content .column-2, .content .column-3, .content .column-5, .content .column-7 {
    margin-top:20px !important;
}

.section-header {
    background-color: #0079D4;
    height: 34px;
    color:white;
    font-size:12px;
    line-height:34px;
    font-weight:bold;
}

.left-overhang {
    padding-left:33px;
    margin-left:-33px;
}

.overhang-shadow {
    background-image: url('../assets/ui/wrap-around-shadow.png');
    background-repeat: no-repeat;
    width:13px;
    height:14px;
    position: absolute;
    left:-13px;
    margin-top:26px;
    z-index: -1;
}

.category-icon {
    background-image: url('../assets/icons/file.png');
    position: absolute;
    height:34px;
    width:15px;
    background-repeat: no-repeat;
    background-position: center;
    left:-3px;
}
.article-icon {
    background-image: url('../assets/icons/article.png');
    float:left;
    height:34px;
    width:15px;
    margin-right:8px;
    margin-left:10px;
    background-repeat: no-repeat;
    background-position: center;
}

.video-icon {
    background-image: url('../assets/icons/video.png');
    position: absolute;
    height:34px;
    width:16px;
    background-repeat: no-repeat;
    background-position: center;
    left:-3px;
}

.overlay {
    background-image: url('../assets/ui/overlay-screen.png');
    background-repeat: repeat;
}
/*--------------Branding area and header------------------------------*/

header {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    top: 0px;
}
img.logo {
    position:absolute;
    top:17px;
}



/*--------------Search Area and account nav --------------------------*/

.search-widget {
    position: absolute;
    right:0;
    top:31px;
}

input.input-field {
    width: 250px;
    height: 26px;
    line-height:26px;
    border:none !important;
    outline:none !important;
    background-color: transparent;
    background-image: url('../assets/ui/search-bg.png');
    background-repeat: no-repeat;
    /*background-position: 0 0;*/
    background-size: 100% 26px;
    padding-left: 8px;
}

input.search-icon {
    position: absolute;
    top:6.5px;
    right:8px;
    width: 14px;
    height: 13px;
    background-image: url('../assets/ui/search.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border:0px solid transparent !important;
    outline:0px solid transparent !important;
    -webkit-appearance: none !important;
    height: 13px;
    cursor:pointer;
}

*:focus {
    outline: 0;
}

ul.account-nav {
    position: absolute;
    color:white;
    
    right:0px;
    top:70px;

}

ul.account-nav li {
    float:left;
}

ul.account-nav li a {
    color:#ffffff;
    font-size: 12px;
}

li.sep{
    margin:0 8px;
    font-size:18px !important;
}




/*--------------Typography -------------------------------------------*/
.seperator {
    margin:0px 20px;
    margin-top:1px;
    margin-bottom:-1px;
    height: 1px;
    border-top:1px #C5C6C6 solid;
}

.widget-seperator {
    margin:0;
    margin-bottom:9px;
    border-color: #8B8B8B;
}
p {
    line-height:1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
}

h3 {
    padding:10px 0;
}

em {
    font-style: italic;
}


/*--------------Links-------------------------------------------------*/
a:link, a:visited, a:hover, a:active {
    color:#252628;
    text-decoration: none;
}

a:hover {
    /*color: #0079D4;*/
    text-decoration: underline;
}

.GETAWAYS {
  font-size: 12px;
  font-family: "Helvetica";

  font-weight: bold;
  text-align: left;
  
  position: absolute;
  left: 510px;
  top: 145.682px;
  z-index: 207;
}


/*--------------Navigation -------------------------------------------*/
.nav-wrap {
    width:1000px;
    margin: 0 auto;
}
.navbar {
    background-image: url('../assets/ui/nav-gradient-1px.jpg');
    border-top:1px #bbbdbf solid;
    border-bottom:1px #bebebe solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    z-index: 201;
    margin-top:130px;
    width:1000px;
    position: absolute;
}

.navbar ul {
    
}

.navbar ul li {
    float:left;
    line-height: 40px;
    width:16.666667%;
}

.navbar ul li.active a {
    padding-top:5px;
    margin-top:-5px;
    background-color: #ffffff !important;
    border: 1px #B6B6B6 solid;
    border-bottom:none;
    height:38px;
    line-height: 38px;
}

.navbar ul li a {
    display:block;
    text-align:center;
    font-size:12px;
    font-weight: bold;
    /*------ fallback -----*/
    color: rgb(82, 85, 88);
    /*------ Includes alpha from the psd -----------*/
    color: rgba( 40, 43, 46, 0.8 );
    text-shadow: 0px 1px 0px rgb( 255, 255, 255 );
    letter-spacing: 1px;
    text-decoration: none !important;
}

.navbar ul li:hover {
    background-color: rgba(72, 85, 101, 0.16);
    background-repeat: repeat-x;
    height:38px;
}


/*---------- footer ---------------------------------------*/
footer {
    background-color: #2c2c2c;
    position: absolute;
    bottom:0;
    width:1000px;
    height: 66px;
    z-index: 100;
    margin: 0 auto;
}
.footer-links {
    position: absolute;
    top:15px;
    left:20px;
    line-height:18px;
}
.footer-links li {
    color:white;
    float:left;
    font-size:12px;

}

.footer-links li a:link, .footer-links li a:visited,
.footer-links li a:hover, .footer-links li a:active {
    color:white;
}

.footer-contact {
    color: #8B8B8B;
    position: absolute;
    line-height:18px;
    top:36px;
    left:20px;
}

.footer-contact li {
    float:left;
    font-size:12px;
    
}

/*----- Social Media Icons -------------------------*/
ul.social-links {
    position: absolute;
    right:20px;
    top: 20px;
}

ul.social-links li {
    float:left;
    margin-left:8px;
}

ul.social-links li a {
    
}

/*------------ ads --------------------------------*/
.sidebar-ad {
    width:274px;
    height:200px;
    margin-bottom:20px;
}

.second-ad {
    margin-bottom:19px;
}
/*------------Posts -----------------------------*/

.post-teaser {
    height:105px;
    margin-top:20px;
}

img.post-image {
    float:left;
    margin-right:14px;
    width: 140px;
}

p.teaser {
    padding-top:10px;
    font-size: 14px;
    line-height: 1.25em
}

h2.post-title {
    font-size: 14px;
    margin-top:2px;
}

/*------------Widgets -----------------------------*/

.widget {
    margin-top: 20px;
    font-size:14px;
}

.list-widget {
    margin-top:8px;
}

.widget ul li {
    padding-bottom:4px;
}

h3.widget-title {
    font-size: 14px;
}



.newsletter-widget, .contest-widget {
    color:#242629;
}

h3.widget-title-small {
    font-size:12px;
    padding:10px 0 9px 0;
}

.getaways {
    margin-top:6px;
}

.newsletter-widget {
    margin-top:0;
    width:100%;
    min-height: 227px;
    background-color: #D6D6D6;
}
.contest-widget {
    margin-top:20px;
    width:100%;
    min-height: 171px;
    background-color: #D6D6D6;
}

.contest-thumb {
    display: block;
    float:left;
    margin-right:14px;
    margin-bottom:5px;
}

.contest-text {
    margin-top:1px;
    padding-top: 2px;
    line-height:1.3em;
    font-size: 12px;
    color:#242629;
}

.contests li {
    font-weight: bold;
}

.widget-inner {
    padding:0 10px;
}

.dark-cell {
    background-color: #C3C2C2;
    margin-top:9px;
    padding-bottom:9px;
}

.newsletter-email {
    width:246px !important;
}

h3.checklist {
    font-size:12px;
    padding:2px 5px;
}

.form-instructions {
    font-size:12px;
    padding:5px;
}

.widget-submit {
    background-color: #0079D4;
    cursor: pointer;
    -webkit-appearance: none;
    outline:none;
    border:none;
    color:white;
    font-size:12px;
    padding:5px;
    min-width: 70px;
    text-align: center;
    float:right;
    margin-top:10px;
    margin-bottom:9px;
}

.form-footer {
    border-top: 1px #8B8B8B solid;
    height:24px;
    padding:0px;
    margin:0px;
    line-height:24px;
    text-align: center;
    font-size: 12px;
}

.form-footer ul {
    display: block;
    width: 170px;
    margin: 0 auto;
    
}

.form-footer ul li {
    float:left;
}

.email-glyph, .contest-glyph {
    width:12px;
    height: 30px;
    background-repeat: no-repeat;
    float:left;
    margin-right:10px;
    background-position: center;
}
.email-glyph{
    background-image: url('../assets/icons/envelope.png');
}
.contest-glyph {
    background-image: url('../assets/icons/trophy.png');

}
/*-------- Video Feed --------------------------------------*/
ul.video-feed {
    
}
ul.video-feed li {
    position: relative;
    float:left;
    height: 156px;
    width: 208px;
    margin-right:20px;
    margin-top:20px;
}
ul.video-feed li:nth-child(3n+3) {
    margin-right:0;
}

li.row-end {
    margin-right:0 !important;
}

.video-footer {
    width:100%;
    position: absolute;
    bottom: 0px;
    height:31px;
    left:0px
}
.video-title {
    line-height:31px;
    font-size: 13px;
    font-weight: bold;
    color:#282B2E;
    padding-left: 14px;
}

/*--------------Carousel -------------------------------------------*/
.carousel {
    height: 420px;
}

ul.slides {
    background-color: #D6D6D6;
    
    
}

ul.slides li {
    display:none;
    list-style-type: none;
    position: absolute;
}


.slide {
    width: 666px;
    height: 331px;
    overflow: hidden;
    position: relative;
}
ul.slides  li.active-slide {
    display:block;
}

/* ----------- carousel navigation ----------------*/
.carousel-nav {
    margin-top:11px
}

ul.carousel-nav {
    width: 666px;
    position: absolute;
    top: 350px;
}

ul.carousel-nav li {
    float:left;
    display:block;

    margin-right:10px;
    list-style-type: none;
    
}
ul.carousel-nav li:last-child {
    margin-right:0;
}

li.last-slide-control {
    margin-right:0px !important;
}

ul.carousel-nav li a, .carousel-nav ul li a img {
    display: block;
}

ul.carousel-nav li a {
}
ul.carousel-nav a.active-control img {
    position: absolute;
    display: block;
}
ul.carousel-nav a.active-control .carousel-thumb-frame {
    background-image: url('../assets/ui/active-slide-link-frame.png');
    width:159px;
    height:88px;
    float:left;
    position: relative;
    z-index: 10;
    top:-9px;
}

.carousel-footer {
    height: 68px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

h2.carousel-header, p.carousel-teaser {
    margin-left: 14px;
}

h2.carousel-header {
    font-size: 24px;
    margin-top:14px;
}

p.carousel-teaser {
    font-size:14px;
    line-height:1.4em;
}


/*--------------END Carousel Navigation -------------------------------------------*/

/*---------------various overrides-------------------------------------------------*/


/* sourced from css-tricks */

::-webkit-input-placeholder {
    color:#9c9fa3;
    font-size:12px;
}

:-moz-placeholder { /* Firefox 18- */
    color:#9c9fa3;
    font-size:12px;
 
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#9c9fa3;
    font-size:12px;

}

:-ms-input-placeholder {  
    color:#9c9fa3;
    font-size:12px;
}

/* for hidden elements that are available to screen readers */
/* Source: http://webaim.org/techniques/css/invisiblecontent/ */

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.ie {
    display:none;
}

