<h1>Nerdery FED NAT</h1>

<hr />

<h2>View the project <a href="http://yourshoesuntied.com/nat">here</a>.</h2>

<h2>Overview</h2>

<p>To the conditions and objectives in the instructions have been met to the best of my ability.  While there are some things that could be improved,
The overall code base should is stable, modular and easy to extend or integrate with a CMS.  It was a fun comp to work with and had a lot of nice little
design challenges.</p>

<p>See the project requirements and objectives <a href="#markdown-header-instructions-and-objective">below</a></p>

<h1>Documentation</h1>

<hr />

<h2>Carousel implementation</h2>

<p>A simplified demo file, <a href="http://yourshoesuntied.com/nat/carousel-demo.html">carousel-demo.html</a> is included in the source</p>

<h3>Dependencies</h3>

<p>jQuery</p>

<h3>Example initialization</h3>

<pre><code>&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
&lt;script src="lib/carousel-js/carousel.js"&gt;&lt;/script&gt;
&lt;link type="text/css" rel="stylesheet" href="css/carousel-base.css"&gt;


&lt;script&gt;
    $(document).ready(function (){
        var settings = {
            interval : 4500,
            pauseForInteraction : true,
            cssOverride : false,
            crossfade : true
        };
        var carousel = new Carousel($("#carousel"), settings);
    });
&lt;/script&gt;
</code></pre>

<h3>Example HTML</h3>

<pre><code>&lt;div id="carousel" class="carousel"&gt;
    &lt;ul class="slides"&gt;
        &lt;li class="slide active-slide" id="slide1"&gt;
            &lt;img src="img/carousel/baltimore.jpg" alt="Downtown Baltimore"&gt;
        &lt;/li&gt;
        &lt;li class="slide" id="slide2"&gt;
            &lt;img src="img/carousel/venice.jpg" alt="Exploring the Venetian"&gt;
        &lt;/li&gt;
        &lt;li class="slide" id="slide3"&gt;
            &lt;img src="img/carousel/london.jpg" alt="London After Dark"&gt;
        &lt;/li&gt;
        &lt;li class="slide" id="slide4"&gt;
            &lt;img src="img/carousel/mount-rushmore.jpg" alt="Mount Rushmore"&gt;
        &lt;/li&gt;
    &lt;/ul&gt;

    &lt;ul class="carousel-nav"&gt;
        &lt;li&gt;&lt;a href="#slide1" class="control active-control"&gt;&lt;img src="img/carousel/thumbs/baltimore.jpg" alt="Downtown Baltimore slide control"&gt;&lt;div class="carousel-thumb-frame"&gt;&lt;/div&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#slide2" class="control"&gt;&lt;img src="img/carousel/thumbs/venice.jpg" alt="Exploring the Venetian slide control"&gt;&lt;div class="carousel-thumb-frame"&gt;&lt;/div&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#slide3" class="control"&gt;&lt;img src="img/carousel/thumbs/london.jpg" alt="London After Dark slide control"&gt;&lt;div class="carousel-thumb-frame"&gt;&lt;/div&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class="last-slide-control"&gt;&lt;a href="#slide4" class="control"&gt;&lt;img src="img/carousel/thumbs/mount-rushmore.jpg" alt="Mount Rushmore slide control"&gt;&lt;div class="carousel-thumb-frame"&gt;&lt;/div&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<h3>Validation</h3>

<p>CSS validates <a href="http://jigsaw.w3.org/css-validator/validator?uri=yourshoesuntied.com%2Fnat&amp;profile=css3&amp;usermedium=all&amp;warning=1&amp;vextwarning=&amp;lang=en">here.</a></p>

<p>HTML5 validates <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fyourshoesuntied.com%2Fnat%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.3+http%3A%2F%2Fvalidator.w3.org%2Fservices">here</a><br/>
The one exception is caused by the height setting in the twitter widget.  I opted to leave the errror rather than mess with way the widget is called.</p>

<p>Accessibility compliance tested <a href="http://achecker.ca/checker">here</a>.<br/>
Only one issue with the white text on blue background in the RECENT ARTICLES heading.</p>

<h2>Known issues and variation.</h2>

<h3>Navigation</h3>

<p>In the comp, the navigation tabs appeared to be sized to the content while dividing the space available.  For the purposes of a dynamic site
I chose to equally divide the area into 6 equal portions.  This seemed to be a more stable cross browser solution that avoidied using tables
or dom manipulation to control the tab links.  It also seemed more practical in terms of using dynamic content.</p>

<h3>Twitter Widget</h3>

<p>The twitter widget does not validate because of the way that a height is applied to it.
    <a ... height="353">Tweets by @CrispinMulberry</a>
Also, in the comp, the follow button includes the &ldquo;@CrispinMulberry&rdquo; on the burtton.  In attempted a few fixes and tries at fixing/applying this
look to the api.  I was not able to determine whether or not the bug was a twiiter bug, or a change in their api since the comp was generated.</p>

<h3>Newsletter sign up</h3>

<p>The comp included a &ldquo;Contests &amp; Promotions&rdquo; checkbox that was obscured.  Returning it to the design disturbs the sidebar, but may actaully simulate
additional categories being added to the newsletter.  Though removing it would be an easy change, I opted to include it in the web template since it seemed important to consider that particular checkbox,
as well as any additional checkboxes required in the future.</p>

<h3>Input placeholders</h3>

<p>In my testing I noted that IE 9 and earlier does not support the placeholder attribute.  After considering a variety of solutions, I opted to, for ie 9 and earlier, set
the input cell&rsquo;s value attribute to be the same as the placeholder.  When the field is in focus, the place holder is value is cleared.  This may not be the most elegant solution but if necessary,
some js could be written to better add placeholder support.  There are existing libraries that could be implemented as well.  Analytics, design, and overall functionality should
be considered before more time is spent.</p>

<h3>Background image</h3>

<p>I went back and forth betweem allowing the image to resize and fixing its width.  Overall I think a fixed width works better and stays true to the
design.  As with anything this is subjective and has some room for improvements.</p>

<h2>Potential Improvments and Enhancements</h2>

<h3>Responsive</h3>

<p>Consideration to responsive design was made when structuring the code but no responsive code was written.  If data requires supporting more screens,
the template could be adapted and made responsive.  This would require a design and break oints to be determined first.</p>

<h3>Carousel</h3>

<p>The carousel could be further developed.  Potential new features could include next, last, beginning and end controls.  Multiple annimations and
transitions.  A generic basic stylesheet needs to be created as well.  The styles are currently part of the greater code base.</p>

<h3>Sass or Less Integration</h3>

<p>I avoided using a preprocessor in an effort to show what I know and not what the big brains over at Sass, Less, and Compass know.  However, it may be worth
considering as it can help with development speed, browser compliance and general organization of the style code.</p>

<h2>THANKS FOR READING!</h2>

<h2>Instructions and Objective</h2>

<p>You have been provided a PSD with a design of an interior page of a website. Please take this asset and turn it into a fully
functional static page that could be used for integration with a yet to be determined CMS. This will be a much larger site
than a single page, and your code should be written to be flexible and reusable throughout the site. Show us your best start
to a code base that will be scalable, flexible, maintainable, semantic and accessible. Build in a progressively enhanced manner -
attention to detail should be high, but minor aesthetic details may differ depending on the native functionality of each required
browser. As you make these decisions, justify them in a read me file.</p>

<h2>Challenge Requirements</h2>

<h3>Browser Suport</h3>

<ul>
<li>IE7+</li>
<li>Chrome - Latest Stable Release</li>
<li>Firefox - Latest Stable Release</li>
<li>Safari - Latest Stable Release</li>
</ul>


<h3>Build Tools</h3>

<ul>
<li>If build tools are used, please provide the source files and a
working build that is not minified / uglified.</li>
</ul>


<p>Frameworks, Plugins, and Polyfills<br/>
* With the exception of jQuery, please avoid frameworks, plugins and polyfills for HTML, CSS, &amp; JS - We&rsquo;d like to see what you&rsquo;re capable of doing when handcrafting your own code.</p>

<h3>Carousel</h3>

<ul>
<li>The carousel should support up to a max of 4 images but there may
be less when integrated with the back end</li>
<li>The carousel should auto-rotate on page load and stop rotating
when the user interacts with it, continuing its rotation once the user
is no longer in the hit area of the carousel.</li>
</ul>


<h3>Media</h3>

<ul>
<li>Please use the images in the PSD and not placeholder images</li>
<li>Videos do not need to play</li>
</ul>


<h3>Twitter Widget</h3>

<ul>
<li>Please embed a standard Twitter widget for the user @crispinmulberry and include a working copy in the code.</li>
</ul>


<h3>Ads</h3>

<ul>
<li>Use static images for the ads, no integration is necessary.</li>
</ul>


<h3>Forms</h3>

<ul>
<li>Forms do not need to submit, but should be marked up
appropriately to be a functional form</li>
</ul>


<h3>Pixel Perfection</h3>

<ul>
<li>Make sure the design matches the PSD in all required browsers</li>
</ul>

